.content_title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5rem;
  padding-top: 2vh;
  padding-bottom: 0.5vh;
}

.content_subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
  padding-top: 1.5vh;
  padding-bottom: 0.5vh;
}

.createProjectContentsBox {
  padding-bottom: 2.5vh;
}

.form_wrapper {
  display: block;
  max-width: 30rem;
  margin: 0 auto;
}

@media screen and (max-width: 639px) {
  .createProjectContentsBox {
    padding-bottom: 1.5vh;
  }
  .content_title {
    line-height: 2rem;
    font-size: 1.6rem;
  }
}
