.content_title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5rem;
  padding-top: 2vh;
  padding-bottom: 0.5vh;
}

.createProjectContentsBox {
  padding-bottom: 2vh;
}

@media screen and (max-width: 639px) {
  .createProjectContentsBox {
    padding-bottom: 1vh;
  }
  .content_title {
    line-height: 2rem;
    font-size: 1.6rem;
  }
}
