.title {
  font-size: 1.5rem;
  font-weight: bold;

  line-height: 1.8rem;
  border-bottom: 1px solid #999999;
  margin-bottom: 1rem;
}

@media screen and (max-width: 639px) {
  .form_wrapper {
    padding: 2vw;
  }
}
